
@{
    ViewData["Title"] = "Update";
}
@model Microservices.MVC.Models.Catalog.UpdateCourseRequest

<div class="row">
    <div class="col-md-8 offset-md-2">

        <div class="card">
            <div class="card-header">
                <h5 class="text-center">Kurs Güncelle</h5>
            </div>

            <div class="card-body">

                <form asp-controller="Courses" asp-action="Update" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly"></div>

                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="UserId" />
                    <input type="hidden" asp-for="Picture" />


                    <div class="mb-3">
                        <label class="form-label" asp-for="CategoryId"></label>
                        <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.categoryList">
                        </select>
                        <span class="text-danger" asp-validation-for="CategoryId"></span>
                    </div>



                    <div class="mb-3">
                        <label class="form-label" asp-for="Name"></label>
                        <input class="form-control" asp-for="Name">
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>


                    <div class="mb-3">
                        <label class="form-label" asp-for="Price"></label>
                        <input class="form-control" asp-for="Price">
                        <span class="text-danger" asp-validation-for="Price"></span>
                    </div>


                    <div class="mb-3">
                        <label class="form-label" asp-for="Description"></label>
                        <textarea class="form-control" asp-for="Description"> </textarea>
                        <span class="text-danger" asp-validation-for="Description"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" asp-for="Feature.Duration"></label>
                        <input class="form-control" asp-for="Feature.Duration">
                        <span class="text-danger" asp-validation-for="Feature.Duration"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" asp-for="Photo"></label>
                        <input class="form-control" asp-for="Photo">
                        <span class="text-danger" asp-validation-for="Photo"></span>
                    </div>

                    @*TODO: PHOTO INPUT*@

                    <div class="text-center mt-3">
                        <button type="submit" class="text-center btn btn-block btn-outline-primary">Kursu Güncelle</button>
                    </div>


                </form>

            </div>
        </div>

    </div>
</div>

